services:
  app:
    build: .
    volumes:
      - ./alembic:/app/alembic
    ports:
      - "8000:8000"
    env_file:
      - ".env"
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql
    env_file:
      - ".env"

volumes:
  postgres_data:
