body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.registration-form {
    background-color: #fff8e7;
    padding: 50px 50px;
    border-radius: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #985D3C;
    margin-bottom: 30px;
    font-size: 30px;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.progress-bar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: #ddd;
    z-index: 1;
    transform: translateY(-50%);
}

.progress-step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    position: relative;
    z-index: 2;
}

.progress-step.active {
    background: #AF6425;
    color: white;
}

.progress-step.completed {
    background: #b89778;
    color: white;
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    color: #000;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    color: inherit;
    outline: none;
}

input:focus {
    outline: none;
    border-color: #8b4513;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

button {
    color: #FFF7E6;
    padding: 15px 40px;
    background-color: #AF6425;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b89778;
}

button.btn-back {
    color: #AF6425;
    background: #fff8e7;
    border: 2px solid #AF6425;
}

button.btn-back:hover {
    background: #f5e9d3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.error-message.show {
    display: block;
}

.footer {
    text-align: start;
    background-color: #FFD3A4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: auto;
}

.logo-img {
    width: 150px;
    height: 100px;
}