/* --- СБРОС СТИЛЕЙ И ОСНОВА --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif, 'Montserrat Alternates';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: #333;
}

/* --- ШАПКА --- */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 40px;    
    background: #FFD3A4;

    height: 70px;       
}

.logo img {
    height: 60px;
    object-fit: contain;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-icons i {
    font-size: 20px;
    color: #8b5a2e;
}

.profile-icon {
    width: 40px;
    height: 40px;
    background-color: #bd7435;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon img {
    height: 24px;
    width: 24px;
}

/* --- НАВИГАЦИЯ --- */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 0;         
    position: relative;
    z-index: 2;
}

.nav-links-wrapper {
    background: #FFF7E5;

    /* ✔ Верхняя граница ровная, нижние — скруглённые */
    border-radius: 0 0 35px 35px;

    padding: 10px 40px;       
    height: 55px;           

    width: 55%;
    min-width: 520px;
    max-width: 780px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 6px;

    padding: 6px 14px;
    border-radius: 16px;
}

.nav-item img {
    width: 20px;
    height: 20px;
}

.nav-item.active {
    background: #E6DDC2;
}
/* --- ФУТЕР --- */

.footer {
    background: #FFD3A4;
    padding: 40px 0;
    display: flex;
    justify-content: flex-start; /* Выравнивает содержимое по левому краю */
    align-items: center; /* Выравнивает по центру по вертикали */
    border-top: 1px solid #c5a38c;
}

.footer-logo {
    height: 89px;
    margin-bottom: 5px;
}